body {
    display: flex;
    flex: row;
    font-family: sans-serif;
}

.x {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/* Головные строки */
.a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    margin-bottom: 20px;
}

.aa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

/* Главная строка с поиском */
.b {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.ba {
    display: flex;
    width: 230px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    background-color: #fd930f;
    border-radius: 10px;
}
.baa {
    font-size: 20px;
    font-weight: bolder;
    color: white;
}
.baaa button {
    font-weight: bolder;
    color: white;
    background-color: #fd9c2a;
    padding: 15px 40px;
    border-radius: 5px;
    border-color: #fd9c2a;
    overflow: hidden;
}
.bb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    gap: 30px;
}
.bba{
    margin-left: 10px;
}
.bbaa img{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.bc{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-around;
}
.bc div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.bc div img{
    width: 35px;
    height: 35px;
}
.c{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ca{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    text-align: start;
    align-items: start;
}
.ca div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
}
.ca img{
    width: 25px;
    height: 25px;
}
.cb{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.cba{
    display: flex;
    flex-direction: column;
    text-align: start;
}